.chatHeader {
  background-color: gray;
  display: grid;
  grid-template-areas:
    "image  name name settings"
    "image  name name settings";
  grid-gap: 10px;
  padding: 10px;
  width: 36vw;
}
.chatHeaderImg {
  grid-area: image;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
}
.chatHeaderName {
  grid-area: name;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.chatBody {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  height: 62vh;
  flex-direction: column;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 0px;
}
.chatInput {
  width: 33vw;
  border: 1px solid gray;
  height: 5vh;
}
.inputField {
  display: flex;
}
.chatSend {
  width: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(207, 57, 187);
  border-radius: 50%;
}

.sendMessage {
  margin: 1rem 3rem 1rem 0;
  background-color: gray;
  padding: 0.6rem 1rem;
  border-radius: 10px 10px 0px 10px;
  min-width: 10vw;
  justify-content: space-between;
  display: flex;
}
.receiveMessage {
  margin: 1rem 30rem 1rem 0;
  background-color: gray;
  padding: 0.6rem 1rem;
  border-radius: 10px 10px 10px 0px;
}
